<h6>Dashboard</h6>
<h3>Welcome {{name}}</h3>
<p>Here are your Blogs</p>

{{#if blogs}}
    <table class="striped">
        <thead>
            <tr>
                <th>
                    Title
                </th>
                <th>
                    Date
                </th>
                <th>
                    Status
                </th>
            </tr>
        </thead>
        <tbody>
            {{#each blogs}}
                <tr>
                    <td><a href="/blogs/{{_id}}"></a>{{title}}</td>
                    <td>{{createdAT}}</td>
                    <td><span class="dash-status">{{status}}</span></td>
                    <td></td>
                </tr>
            {{/each}}
        </tbody>
    </table>
{{else}}
    <p>You have not created any blogs</p>

{{/if}}